@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #301e67;
  border-radius: 20px;
  border: 3px solid transparent;
}
* {
  min-height: 0;
  min-width: 0;
}
.slick-slider {
  width: 100%;
  max-width: 100%;
}
.slick-slide div {
  outline: none;
}
.slick-track {
  display: flex;
  justify-content: flex-start;
}
.slick-list {
  width: 100% !important;
  padding: 0 0 0 0 !important;
}

.slick-slide > div {
  width: 100% !important;
}

html {
  scroll-behavior: smooth;
}
.section-image-left,
.section-text-right {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.section-text-left,
.section-image-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.in-view .section-image-left,
.in-view .section-text-left,
.in-view .section-text-right,
.in-view .section-image-right {
  transform: translateX(0);
  opacity: 1;
}
